*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#f3f3f3;

}

header{

background:#ff6b00;

color:white;

padding:25px;

text-align:center;

}


.product-container{

display:flex;

flex-wrap:wrap;

padding:30px;

justify-content:center;

gap:40px;

}

.image-section img{

width:350px;

max-width:100%;

}

.details{

max-width:400px;

}

.colors{

display:flex;

gap:15px;

margin:15px 0;

}

.color{

width:40px;

height:40px;

border-radius:50%;

border:2px solid #ccc;

cursor:pointer;

}

.white{

background:white;

}

.blue{

background:#0b63d8;

}

.red{

background:red;

}

.maroon{

background:maroon;

}

select,input{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:20px;

font-size:16px;

}
header h1{

font-size:32px;

margin-bottom:10px;

}

header p{

margin-bottom:20px;

}

#search{

width:90%;

max-width:400px;

padding:12px;

border:none;

border-radius:8px;

font-size:16px;

}

.products{

display:flex;

justify-content:center;

padding:30px;

}

.card{

background:white;

width:320px;

border-radius:12px;

padding:20px;

box-shadow:0 4px 15px rgba(0,0,0,.15);

text-align:center;

}

.card img{

width:100%;

border-radius:10px;

}

.card h2{

margin:15px 0;

}

.card p{

font-size:22px;

color:#ff6b00;

margin-bottom:15px;

}

button{

background:#ff6b00;

color:white;

border:none;

padding:12px 25px;

font-size:18px;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#e95f00;

}
